<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BLACKBELT.SYNC_DIRECTORY_PATH" value="D:\Sync\BT-GT\SyncDevEnvs_SYNC\"/>
    <add key="GTX.SYNC_DIRECTORY_PATH" value="D:\Sync\BT-GT\SyncDevEnvs_SYNC\"/>

    <add key="BLACKBELT.TEMP_DIRECTORY_PATH" value="D:\temp\SyncDevEnvs_TEMP\"/>
    <add key="GTX.TEMP_DIRECTORY_PATH" value="D:\temp\SyncDevEnvs_TEMP\"/>

    <add key="GTX.ROLE" value="MINION"/>
    <add key="BLACKBELT.ROLE" value="OVERLORD"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>